body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 330px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #0003;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.show-pass {
    display: flex;
    align-items: center;
    margin: 5px 0 12px;
    font-size: 14px;
    color: #333;
    gap: 6px;
}

.show-pass input {
    width: auto;
}
